option_settings:
  - namespace:  aws:elasticbeanstalk:container:nodejs
    option_name: NodeVersion
    value: 8.8.1

# container_commands:
#   01_nginx_websocket_support:
#     command: |
#       sed -i '/\s*proxy_set_header\s*Connection/c \
#               proxy_set_header Upgrade $http_upgrade;\
#               proxy_set_header Connection "upgrade";\
#           ' /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/49_bcrypt.sh" :
    mode: "000775"
    owner: root
    group: root
    content: |
      #!/bin/bash
      nodeVersion=$(/opt/elasticbeanstalk/bin/get-config optionsettings | python -c 'import json,sys; print json.load(sys.stdin)["aws:elasticbeanstalk:container:nodejs"]["NodeVersion"]');
      export PATH=$PATH:/opt/elasticbeanstalk/node-install/node-v${nodeVersion}-linux-x64/bin
      app="$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)";
      cd "${app}";
      npm --production install node-pre-gyp
      npm --production rebuild node-pre-gyp
